.App {
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  max-width: 600px;
}

.Validation {
  margin-top: 30px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.Result-string {
  position: absolute;
}

.isNotPalindrome {
  color: #F22613;
}

.isPalindrome {
  color: #2ECC71;
}

.Entered-item {
  position: relative;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin: 0;
  padding: 10px 0;
  font-weight: 100;
}

.Entered-item:hover {
  background-color: rgb(245, 245, 245);
}

.Entered-item:hover .Share-entered-item {
  display: flex;
}

.Share-entered-item {
  position: absolute;
  align-items: center;
  justify-content: space-around;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.clickable {
  cursor: pointer;
}